/* Footer */

.footer {
    background: #0c1a1e;
    padding: 1rem 0;
    color: white;
}
.footer .row {
    margin: 0;
}
.footer .footer-principal {
    padding: 1rem 0;
}
.footer .footer-principal .div-footer-logo {
    padding-bottom: 0.7rem;
    text-align: center;
    font-size: 2rem;
}
.footer .footer-principal .div-footer-logo a {
    text-decoration: none;
    color: white;
}
.footer .footer-principal .div-footer-logo a:focus {
    text-decoration: none;
}
.footer .footer-principal .footer-texto {
    text-align: center;
}
.footer .bloque-footer {
    padding: 1rem 0;
    border-top: 0.2rem solid white;
}
.footer .bloque-footer i {
    padding-right: 0.2rem;
}
.footer .bloque-footer .footer-direccion {
    text-align: center;
}
.footer .bloque-footer .footer-email {
    text-align: center;
}
